body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(151, 221, 203);
    color: rgba(36, 1, 88, 0.896);
   
    
}

:root {
    --main-color: #000000;
  }
  div {
    color: var(--main-color, #661f1f); /* fallback color */
  }

h1 {
    font-size: 2em;
    margin: 1rem;
    padding-left: 150px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;

    

    width: 375px;
    height: 100px;
    border: 9pt  teal;
    border-style: outset;
  
    margin-left: 375px;

    border-width: 1cm;

    border-color: rgb(81, 3, 120);
    border-radius: 5px;
  }

  img {
    margin-left: 400px;
  }

  h2 {
    text-decoration: underline;
    color: #813795;
    margin-top: 40px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    
  }

  image{
      margin: 200px;
  }

  button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; 
    margin: 20px;
    background-color: color-mix(in srgb, rgb(172, 32, 252) 70%, white 30%);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    display: inline-block;
    text-decoration: unset;
  }

  button:hover {
    background-color: #6c5ee8;
  }
  
  button:active {
    background-color: #e79b84;
  }


